#import
import(methods)
import(foreach)
import(DEoptim)
importFrom(graphics, "plot", "lines", "points", "abline")
importFrom("stats", "approxfun", "cor", "fft", "integrate", "na.omit",
             "nls", "optim", "predict", "splinefun", "var", "sd", "rnorm")
importFrom("utils", "tail")

# C code
useDynLib(phenex, .registration=TRUE)

# Export all names
exportClasses("NDVI")

exportMethods(bise,runningAvg,modelValues)
exportMethods(phenoPhase, rsquare, plot, integrateTimeserie, detectSeasons)
exportMethods(values, correctedValues, modelledValues, seasons)

exportPattern("analyzeBits")
exportPattern("date2doy")
exportPattern("leapYears")
exportPattern("modelNDVI")
exportPattern("yearlength")





